/* ----------- Meyer CSS start -----------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
body, html {
	width:100%;
	height: 100%;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------- Meyer CSS end -----------*/

/* ----------- General Style start -----------*/

.content-section {
	padding: 0 10%;
}

.hero-background {
	background-color: #3e3e58;
	position: relative;
}

@font-face {
font-family: ProximaNovaRegular;
src: url(/fonts/ProximaNova-Regular.otf);
}

@font-face {
font-family: ProximaNovaLight;
src: url(/fonts/ProximaNova-Light.otf);
}

body {
	font-family: ProximaNovaRegular, Montserrat, sans-serif;
}

h1 {
  color: white;
  font-size: 2.8em;
  max-width: 330px;
}

a {
  text-decoration: none;
}

.nav-link li {
  display: inline;
  margin-left: 1.5rem;
  font-size: .9em;
}

.nav-link li a {
  color: #fff;
}

.nav-link li a:hover {
  color: #ccc;
}

.nav-home-link {
  margin-left: 3rem;
}

.company-name {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 1.1rem;
  color: white;
  margin-left: .65rem;
}

/* ----------- General Style end -----------*/

/* ----------- Input Style start -----------*/


textarea:focus, input:focus{
    outline: none;
  }

.input__img {
    position: absolute;
    top: 30px;
    right: 259px;
    width: 28px;
    height: 12px;
  }

.input__container {
    max-width: 950px;
    margin: 0 auto;
    padding-right: 10px;
}
.nav-search {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 120%;
    transition: all .5s ease;
    float: right;
}
.nav-search:focus {
    width: 40vw;
}

/* ----------- Input Style end -----------*/

/* ----------- Navigation start -----------*/

nav {
  background-color: #3e3e58;
  display: flex;
  height: 70px;
  // padding-left: 10%;
  // padding-right: 2%;
}

.logo-link {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
}

.nav-link {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  font-weight: 300;
}


/* ----------- Navigation end -----------*/

/* ----------- Hero start -----------*/


.hero {
  display: flex;
  flex-direction: row;
  min-height: 75vh;
  background-color: #3e3e58;
}

.hero__details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__image {
  display: flex;
  align-items: flex-end;
}

.hero__image__svg {
  width: 50%;
	right: 0;
  height: auto;
  position: absolute;
}

/* ----------- Hero end -----------*/

.email-box {
  display: flex;
  margin-top: 35px;
  max-width: 90%;
  width: 90%;
}

.email-input {
  background-color: #6E6D7F;
  border: none;
  padding: 15px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  flex: 1 0 8em;
  caret-color : #fff;
  width: 100%
}

.email-input::placeholder {
	font-size: .75rem;
  color: #fff;
}

.email-btn {
  border: none;
  border-radius: 0 2px 2px 0;
  background: #3dbdb6;
  font-weight: 300;
	font-size: .75rem;
  color: #fff;
  width: 25%;
  border: none;
}

/* ----------- Logo Banner start -----------*/

.front-page-banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 14vh;
  background-color: #f9fafa;
  border: solid 1px #eeeeee;
  z-index: 1;
}

/* ----------- Logo Banner Two end -----------*/

/* ----------- Support start -----------*/

.support {
  height: 75vh;
  width: 100%;
  margin-top: 5%;
}

.support__details {
	font-size: 1.5rem;
	max-width: 450px;
	margin: auto;
	color: #333333;
}

.support__details h2 {
  text-align: center;
  line-height: 2.3rem;
}

.support__options {
	display: flex;
	justify-content: space-around;
	margin: auto;
	margin-top: 4%;
	height: 50vh;
	max-width: 850px;
}

.circle-support, .circle-help, .circle-chat {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.circle-support {
	background-image: linear-gradient(132deg, #3dbdb6, #0089ce);
}

.circle-help {
	background-image: linear-gradient(309deg, #7a86cc, #9facf8);
}

.circle-chat {
	background-image:  linear-gradient(to bottom, #f3778f, #f26a95 44%, #f15a9d);
}

.support__options__info, .support__options__help, .support__options__chat {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1rem;
	font-weight: 200;
	h3 {
		margin-top: -.5rem;
		color: #333333;
	}
	p {
		margin-top: .8rem;
		color: #72808e;
		text-align: center;
		max-width: 75%;
	}
	a {
		text-decoration: none;
		margin-top: .8rem;
		color: #2d8cff;
		font-size: 0.875rem;
	}
}

/* ----------- Support end -----------*/

/* ----------- Why BetterDesk start-----------*/

.why-betterdesk {
	color: #fff;
	height: 140vh;
	background-image: linear-gradient(117deg, #3dbdb6, #0089ce);
	display: flex;
  flex-direction: column;
  // padding-left: 10%;
}

.why-welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	// margin: auto;
	padding-top: 5rem;
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 1rem;
		font-weight: 200;
		line-height: 1.9;
		margin-top: 2rem;
		max-width: 75%;
	}
}

.why-hero {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* START WHY BOX */

.why-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
	margin-top: 5rem;
}

.why-box{ /* why-box */
  width: 70%;
  color: #fff;
	margin-bottom: 2rem;
}

.why-box-heading{ /* why-box-heading */
  font-size: 1.3rem;
  color: #0F687B;
	padding-left: 2rem;
}

.open .why-box-heading{ /* OPEN why-box-heading */
  color: #fff;
	padding: 3rem 3rem 1.5rem 2rem;
	background-color: rgba(24, 144, 164, 0.5);
	border-radius: 3px;
}

.open .why-box-content{ /* OPEN why-box-content */
  padding: 0 3rem 3rem 2rem;
  margin: 0px 0px 10px 0px;
	font-family: ProximaNovaLight, Montserrat, sans-serif;
	font-size: .9rem;
	font-weight: 200;
	line-height: 1.6;
	transform: scaleY(1);
	transform-origin: top;
	transition: transform 0.4s ease;
 	background-color: rgba(24, 144, 164, 0.5);
	border-radius: 3px;
}

.close .why-box-content{ /* CLOSE why-box-content */
  background-color: none;
  height:0px;
  transition:height 1s ease-out;
  transform: scaleY(0);
}

/* END WHY BOX */

/* START TO DO LIST */

.todo-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ----------- Why BetterDesk end-----------*/

/* ----------- Learn More start -----------*/

.learn-more {
	display: flex;
	flex-direction: column;
  height: 80vh;
	margin: 3rem 0 1rem 0;
	h2 {
		text-align: center;
	  line-height: 2.3rem;
		margin-bottom: 2.5rem;
		font-size: 2rem;
		margin: auto;
		color: #333333;
		padding-bottom: 2rem;
	}
}

.learn-more__info  {
	display: flex;
	img {
		width: 100%;
	}
	:last-of-type {
		margin: 0;
	}
	div {
		display: flex;
		flex-direction: column;
		align-items: space-around;
		font-size: 1rem;
		font-weight: 200;
		margin-right: 1rem;
		h3 {
  		margin-top: -.5rem;
  		color: #333333;
  	}
  	p {
  		color: #72808e;
  		text-align: center;
  		align-self: center;
  		max-width: 80%;
  		padding: 1.5rem 0;
  	}
  	a {
  		text-align: center;
  		color: #2d8cff;
  		font-size: 0.875rem;
  	}
	}
}


/* ----------- Learn More end -----------*/

/* ----------- Report Banner start -----------*/

.report-banner {
  display: flex;
  width: 100%;
  height: 20vh;
	background-image: linear-gradient(98deg, #1172d0, #1d98d6);
}

.report-banner__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	h2 {
		color: #fff;
		text-align: left;
		max-width: 50%;
	}
	.gartner-logo {
		width: 15%;
		height: auto;
	}
}

/* ----------- Report Banner Two end -----------*/
