/* ----------- Meyer CSS start -----------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------- Meyer CSS end -----------*/

/* ----------- General Style start -----------*/

h1 {
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 2.8em;
}

a {
  text-decoration: none;
}

.nav-link li {
  display: inline;
  margin-left: 1.5rem;
  font-size: .9em;
}

.nav-link li a {
  color: #fff;
}

.nav-link li a:hover {
  color: #ccc;
}

.nav-home-link {
  margin-left: 3rem;
}

.company-name {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 1.1rem;
  color: white;
  margin-left: .65rem;
}

/* ----------- General Style end -----------*/

/* ----------- Input Style start -----------*/

input.nav-search, textarea {
  margin-right: 3rem;
  padding:8px;
  border: none;
  border-radius: 5px;
  // background: url("/img/magnifying-glass.svg") no-repeat scroll 143px 8px;
  padding-right:30px;
}

input[type="text"], textarea {
  background-color : #fff;
}

textarea:focus, input:focus{
    outline: none;
}

input {
    -webkit-appearance: none;
}

.input__container {
    position:relative;
    margin:0 20px;
    background:#fff;
    width: 200px;
    border: none;
    border-radius: 5px;
}
// .input {
//     height:20px;
//     margin:0;
//     padding-right: 30px;
//     width: 100%;
// }
.input__img {
    position:absolute;
    bottom:5.5px;
    right:6px;
    width:15px;
    height:15px;
}

/* ----------- Input Style end -----------*/

/* ----------- Section One start -----------*/

nav {
  background-color: #3e3e58;
  display: flex;
  border: 1px solid goldenrod;
  height: 70px;
  padding-left: 10%;
  padding-right: 2%;
}

.logo-link {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
  border: 1px solid red;
}

.nav-link {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  border: 1px solid red;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 75vh;
  padding-left: 10%;
  background-color: #3e3e58;
  border: 1px solid pink;
}




/* ----------- Section One end -----------*/

/* ----------- Section Two start -----------*/

.front-page-banner {
  width: 100%;
  height: 14vh;
  // background-color: #f9fafa;
  background-color: purple;
  border: solid 1px #eeeeee;
  position: absolute;
  z-index: 1;
}

/* ----------- Section Two end -----------*/
